* {
width:90%;
margin:0px auto;
}

#picture{
    width: 60%;
}

#logo   {
    width: 3%;
    height: 3%;
}

.content{
padding-top:5px;
text-align: center;
}

#mainHeader {
    font: Helvetica;
    font-size: 55px;
    padding-bottom: 15px;
}

#mainParagraph {
    padding: 20px;
    font-size: 20px;
    border-top: double;
    border-bottom: double;
}

#container {
    display: inline-flex;
    width: 90%;
    margin: 10px;
    position:  center;
    text-align:left;
    padding: 15px;
}

#container div {
    width: 150px;
    display: inline;
  }

#container div > h1 {
    font: Helvetica;
}

footer { 
        display:inline-block;
        height: 10px;
        font-size: 15px;
}

footer img, footer p, footer span {
    vertical-align: middle;
}

#arrow {
    width: 15%;
    height: 15%;
    display:inline-block;
}

span {
    color: grey;
}